<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../partials/head %>
    <link rel="shortcut icon"
            href="https://i.postimg.cc/9z33W1Vj/IMG-2032.png"
            type="image/x-icon">
    <title>Genesis Tournament</title>
</head>

<body>
    <div>
        <div class="pos-info">
            <img src="https://i.postimg.cc/mgRmt1nQ/photo-2023-03-24-13-58-58.jpg" height="128">
            <h1 style="color: white;">Standoff 2 Турниры</h1>
            <h6 style="color: #b4bfc8;">Найдите киберспортивные турниры по Standoff 2, проходящие в сотнях сообществ по всему миру. <br>Нажмите на "Присоединиться", чтобы принять участие в турнире по Standoff 2.</h6>
        </div>
        <div class="d-flex mx">
            <div class="logo-pic">
                <a href="/"><img src="https://i.postimg.cc/9z33W1Vj/IMG-2032.png" width="128"></a>
            </div>
            <button type="button" class="btn btn-primary btn-pos" data-bs-toggle="modal" data-bs-target="#exampleModalx"
                style="z-index: 1;margin-left: auto; margin-right: 10px;">
                <b><a style="text-decoration: none; color: white;">Через VK ID</a></b></button>

                <div class="modal fade" id="exampleModalx" tabindex="-1" aria-labelledby="exampleModalxLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalxLabel">Авторизация</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            Вход через VK нужен для синхронизации данных, вам нужно привязать свой аккаунт к standoff 2
                        </div>
                        <div class="modal-footer">
                            <a href='/vk/auth/'><button type="button" class="btn btn-primary">Перейти</button></a>
                        </div>
                      </div>
                    </div>
                  </div>

        </div>
        <img class="pic" src="https://i.postimg.cc/2ybY18vk/bg.jpg"
            srcset="https://i.postimg.cc/gk2svbD7/Game-Tile-1.jpg 768w">
    </div>

    <div style="background-color: #161D22; height: 100%;bottom: 0%;">
        <div class="row mx-auto width">
            <h2 style="color: white" class="pt-4">Турниры</h2>
            <div class="col-sm-4 pt-2">
                <div class="card width-2" style="background-color: #282c34; border-radius: 10px;">
                    <div style="background: linear-gradient(to bottom, #26053e, #330f42, #000000);                    ">
                        <img class="card-img-top p-5"
                            src="https://cdn.game.tv/game-tv-content/images_3/520e1ddf46e6764e175f5605d44b62d3/Logo.png">
                    </div>
                    <div class="card-body">
                        <a class="h5 card-title text-dark text-decoration-none">
                            <p class="size" style="color: #A3AFB8;">Турнир </p>
                        </a>
                        <b class="card-text size" style="color: #A3AFB8">🪙 15000G</b>

                        <div class="d-flex">
                            <div class="col">
                                <p class="versus mt-3">5 vs 5</p>
                                <p class="card-text pt-2"><small class="text-muted">Вчера</small></p>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <button type="button"class="btn btn-danger mt-4"  disabled>ПРИСОЕДИНИТЬСЯ</button>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 pt-2">
                <div class="card width-2" style="background-color: #282c34; border-radius: 10px;">
                    <div style="background: linear-gradient(to bottom, #26053e, #330f42, #000000);                    ">
                        <img class="card-img-top p-5"
                            src="https://cdn.game.tv/game-tv-content/images_3/520e1ddf46e6764e175f5605d44b62d3/Logo.png">
                    </div>
                    <div class="card-body">
                        <a class="h5 card-title text-dark text-decoration-none">
                            <p class="size" style="color: #A3AFB8;">Турнир </p>
                        </a>
                        <b class="card-text size" style="color: #A3AFB8">🪙 3000G</b>


                        <div class="d-flex">
                            <div class="col">   
                                <p class="versus mt-3">2 vs 2</p>
                                <p class="card-text pt-2"><small class="text-muted">Сегодня</small></p>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <button type="button"
                                        class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal">ПРИСОЕДИНИТЬСЯ</button><
                            </div>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Авторизация</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                    </div>
                                    <div class="modal-body">
                                        Для того что бы принять учавствие в турнире вы должны быть авторизованы. Вы можете войти через VK для синхронизации данных, вам нужно привязать аккаунт к standoff 2     
                                    </div>
                                    <div class="modal-footer">
                                        <a href='/vk/auth/'><button type="button" class="btn btn-primary">Перейти</button></a>
                                    </div>
                                  </div>
                                </div>
                              </div>


                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 pt-2">
                <div class="card width-2" style="background-color: #282c34; border-radius: 10px;">
                    <div style="background: linear-gradient(to bottom, #26053e, #330f42, #000000);                    ">
                        <img class="card-img-top p-5"
                            src="https://cdn.game.tv/game-tv-content/images_3/520e1ddf46e6764e175f5605d44b62d3/Logo.png">
                    </div>
                    <div class="card-body">
                        <a class="h5 card-title text-dark text-decoration-none">
                            <p class="size" style="color: #A3AFB8;">Турнир </p>
                        </a>
                        <b class="card-text size" style="color: #A3AFB8">🪙 1500G</b>

                        <div class="d-flex">
                            <div class="col">
                                <p class="versus mt-3">1 vs 1</p>
                                <p class="card-text pt-2"><small class="text-muted">Сегодня</small></p>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <button type="button"
                                        class="btn btn-danger mt-4" disabled>ПРИСОЕДИНИТЬСЯ</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div style="height: 100px;"></div>
    </div>
</body>

</html>